<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Slacker News</title>

    <link rel="stylesheet" href="/styles.css">
  </head>

  <body>
     <header>
      <a href="http://www.ycombinator.com"><img src="img/y18.gif"></a>
      <h1><a href="/">Slacker News</a></h1>
      <nav>
        <ul>
          <li><a href="/articles">see all articles</a></li>
          <li><a href="/articles/new">post a new article</a></li>
        </ul>
      </nav>
      <ul id="login">
       <li><a href="https://news.ycombinator.com/newslogin?whence=%6e%65%77%73">login</a></li>
      </ul>
    </header>
    <div id = "wrapper">

      <ul id="comment">
        <li>
        <a href="http://<%=@url%>"><%=@title%></a> (<%=@url.gsub(/(\/.*)/, "").gsub(/www\./, "")%>)</br><br>
        <%=@description%>
        </li>
      </ul>

          <form method="post" action="/articles/<%=@article_id%>/comments">
          <textarea name="text" rows="6" cols="60"></textarea><br><br>
          <input type="submit" value="add comment">
          </form>

      <ol>

      <%@select_data.each do |all_data|%>
      <li>
        <%=all_data["text"]%>
      </li>
      <%end%>
    </ol>



    </div>
    <footer>
      <nav id="footer_nav">
        <ul>
          <li>Guidelines</li>
          <li>FAQ</li>
          <li>Lists</li>
          <li>Bookmarklet</li>
          <li>DMCA</li>
          <li>News News</li>
          <li>Bugs and Feature Requests</li>
          <li>Y Combinator</li>
          <li>Apply</li>
          <li>Library</li>
          <li>Contact</li>
        </ul>
      </nav>
      </br>
      <div id="search">Search: <input type="search" name="googlesearch" id="search"></div>
    </footer>
  </body>
</html>
